main {
  border-left: 5px solid #7cc576;
  border-right: 5px solid #7cc576;
}

header {
  background-color: #7cc576;
}

.form-control {
  background-color: #bee2bb;
}

input[type='submit'],
.main-button {
  background-color: #bee2bb;
  border-radius: 25px;
  border: 0;
  padding: 5px 50px 5px 50px;
}

input[type='submit']:hover,
.main-button:hover {
  background-color: #7cc576;
}

.reaction {
  color: #bee2bb;
  text-decoration: none;
}

.reaction:hover,
.reaction:active {
  color: #7cc576;
  text-decoration: none;
}

.giphy-image img {
  padding: 25px;
  height: 200px;
}

.entry-box {
  border: 1px solid #7cc576;
  padding: 20px;
  margin: 5px;
}

.entry-box h5 {
  margin-top: -15px;
}

.entry-date {
  font-size: 0.8rem;
  font-style: italic;
}

.entry-message {
  padding: 0px 10px 0px 10px;
}